#frineds-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;   
}
#frineds-display-link i {
    color: rgba(0,0,0,0.4);
    padding-left: 13px;
}
.friends-screen {
    padding: 10px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}
.friends-screen__channel-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
}
