.find__icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* 아이콘과 텍스트가 Column */
.find-icons__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 아이콘과 텍스트 간격주기 위해 아이콘의 margin-bottom을 줌 */
.find-icons__icons i {
    margin-bottom: 15px;
}
/* 아이콘과 붙어있는 span 텍스트 가운데 정렬 */
.find-icons__icons span {
    text-align: center;
}