.nav{
    /* nav-bar가 맨 밑에서 스크롤을 사용해도 고정되게 해줌*/
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #f9f9fa;
    padding: 20px 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;/* CSS한테 padding으로 뺏긴 공간만큼 만들지 않아도 된다고 말해주기 */
}
.nav__list {
    display: flex;
    justify-content: space-around;

}
.nav__link{
    position: relative;
}
.nav__chatAlert{
    /* span은 block이 아니기 때문에 width/heigth을 주려면 display를 block/flex으로 설정해야한다. */
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    color: white;
    
    /* chatAlert 아이콘을 오른쪽으로 옮기기
        자식을 absolute로 하면 부모(.nav__link)를 realative로 바꿔줘야됨 */
    position: absolute;
    left: 17px;
    bottom: 13px;
     
}
.nav__menuAlert{
    display: flex;
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    
    /* menuAlert span을 오른쪽으로 옮기기
        자식을 absolute로 하면 부모(.nav__link)를 realative로 바꿔줘야됨 */
    position: absolute;
    left: 17px;
}
