.user-component{
    display: flex;
    align-items: center;
}

/* img 태그 */
.user-component__column:first-child {
    display: flex;
    align-items: center;
}
/* img 태그  bigsize:80x80, middlesize:70x70, smallsize:60x60 */
.user-component__img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component__text {
    font-weight: 800;
    font-size: 20px;
}